* {
  box-sizing: border-box;

  padding: 0;

  margin: 0;


}

body {
  background-color: #000;
  color: beige;
}

.container {
  margin: 15px;
  box-shadow: 0 0 15px rgba(85, 163, 241, 0.625);
  border-radius: 3%;
}

h2 {
  margin: 20px;
  font-size: 20px;
  color: "#EEDD78";
}

a {
  text-decoration: none;
  color: #fff;
}